<!-- footer -->
<footer class="footer">

  <div class="footer-widget-section">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="footer-logo">
                      <a href="/home"><img class="img-responsive" src="/src/assets/img/foot1.001.png" alt=""></a>
                  </div>
              </div>
            
              <!--  footer รายละเอียด-->
              <div class="col-md-8">
                  <div class="footer-text">
                    <p>ต้นแบบเครื่องวัดปริมาณฝุ่นละอองขนาดเล็กด้วยระบบโซล่าเซลล์ เป็นการพัฒนาที่ใช้ต้นทุนต่ำ โดยจะใช้เซนเซอร์แบบเลเซอร์และแบบอินฟราเรดในการวัดปริมาณฝุ่นละอองในอากาศ นำค่าที่ได้มาแสดงเป็นเกณฑ์ 5 ระดับ แบบเรียลไทม์ ซึ่งการแสดงค่าจะแสดงเป็นแดชบอร์ดบนเว็บ และเป็นไฟสถานะบนอุปกรณ์
                        </p>

                    <ul>
                        <li class="phone"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> 0930436703
                        <li class="address">
                        <address>
                          <i aria-hidden="true"></i>
                          PARTICLE COUNTER (PM10)
                        </address>
                        </li>
                    </ul>

                  </div>
              </div>
              

          </div>
      </div>
  </div>
</footer>

