<body>
  <div class="about-container">
    <h1> เกี่ยวกับ</h1>
            <h4 class="header-contact"> วัตถุประสงค์ของโครงงาน </h4>
          <p class="description-contact">
              1. เพื่อพัฒนาต้นแบบเครื่องตรวจวัดปริมาณฝุ่นละอองขนาดเล็กด้วยระบบโซล่าเซลล์  <br /> 
              2. เพื่อพัฒนาเครื่องตรวจวัดปริมาณฝุ่นละอองขนาดเล็กด้วยระบบโซล่าเซลล์ที่มีการแสดงผลตามเวลาจริง  <br /> 
              3. เพื่อพัฒนาเครื่องตรวจวัดปริมาณฝุ่นละอองขนาดเล็กโดยค่าใช้จ่ายและพลังงานต่ำ
          </p>
            <h4 class="header-contact"> ขอบเขตของโครงงาน </h4>   
          <p class="description-contact">
              1. เครื่องวัดฝุ่นสามารถวัดปริมาณฝุ่นละอองขนาดเล็ก (PM10) ในอากาศได้ โดยใช้เซนเซอร์และนำค่ามาประมวลผลเพื่อปรับค่าผิดพลาดแล้วแสดงผลต่อผู้ใช้<br>
              2. อุปกรณ์สามารถติดตั้งและใช้งานได้โดยใช้สัญญาณโทรศัพท์ในการส่งข้อมูลและใช้พลังงานจากการแปลงพลังงานแสงอาทิตย์เป็นพลังงานไฟฟ้า<br>
          </p>
            <h4 class="header-contact"> ประโยชน์ที่คาดว่าจะได้รับ </h4>
            <p class="description-contact">
              1. ได้เครื่องวัดปริมาณฝุ่นละอองในอากาศแบบเรียลไทม์และมีค่าใช้จ่ายที่ต่ำ<br>
              2. ใช้เป็นต้นแบบในการพัฒนาโครงงานที่เกี่ยวกับการวัดฝุ่นละอองขนาดเล็กด้วยระบบโซล่าเซลล์<br>
              3. ต้นแบบเครื่องวัดปริมาณฝุ่นละอองในอากาศที่ใช้งานง่ายมีการแสดงผลย้อนหลัง<br>
            </p>
            <h4 class="header-contact"> ซอฟต์แวร์ </h4>
          <p class="description-contact">
                1 C++ <br>
                2 Arduino IDE <br>
                3 Firebase <br>
                4 Angular JS    <br>           
          </p>
            <h4 class="header-contact"> ฮาร์ดแวร์ </h4>
          <p class="description-contact">
                1 AIS NB-IoT Shield <br>
                2 Arduino UNO <br>
                3 Dust Sensor GP2Y1010AU0F, PLANTOWER PMS3003 <br>
                4 Solar Cell Poly 20W <br>
                5 Solar Cell Charger 10A 12V/24V <br>
                6 Battery 12V <br>
                7 DC Converter 12v to 5v <br>
                8 7 Segment <br>
                9 LCD & LED <br>
                10 ตู้ไฟสวิตช์บอร์ด <br>
                11 Cable <br>            
          </p>
  </div>
</body>