<!--ห ัวข้อ -->
<section class="single-page-title single-page-title-about">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2>เกี่ยวกับ</h2>
          </div>
      </div>
  </div>
</section>


<section class="about-text">
  <div class="container">
  <div class="row">
      <div class="col-md-12">
          <h2>ความสำคัญและที่มาของโครงงาน</h2>
      </div>
  </div>
      <div class="row">
          <div class="col-md-6">
              <p>ปัจจุบันฝุ่นละอองในอากาศ [1] นั้นเป็นปัญหาที่สำคัญเป็นอย่างมาก และเป็นปัญหาที่แก้ไขได้ยากอีกทั้งยังส่งผลกระทบต่อสิ่งแวดล้อม เกิดหมอกควันทำให้ทัศนวิสัยในการมองเห็นลดลง อีกทั้งยังทำให้อากาศเป็นพิษ ซึ่งส่งผลกระทบต่อสุขภาพอนามัยของมนุษย์ เช่น ก่อให้เกิดการสะสมของฝุ่นละอองตามร่างกาย ก่อให้เกิดโรคทางเดินหายใจ โดยฝุ่นละอองในอากาศสามารถแบ่งแหล่งที่มาได้ 2 แหล่งใหญ่ๆ คือ 1.) เกิดขึ้นเองตามธรรมชาติ 2.) เกิดจากการทำกิจกรรมของมนุษย์ โดยฝุ่นละอองนั้นมีทั้งขนาดใหญ่และขนาดเล็ก หรือเรียกว่า  “PM10 (Particulate Matter 10)” ซึ่งเกิดจากการถูกทุบ ตี บด กระแทก จนเป็นชิ้นเล็กๆ เมื่อถูกกระแสลมพัดก็จะกระจายตัวอยู่ในอากาศและตกสู่พื้น จะใช้เวลาในการตกลงสู่พื้นจะช้าหรือเร็วขึ้นอยู่กับน้ำหนักและขนาดของฝุ่นละออง
                </p>
          </div>
          <div class="col-md-6">
              <p>ในประเทศไทย ปัญหาเรื่องมลพิษทางอากาศนั้นนับว่าเป็นปัญหาอันดับต้นๆ ซึ่งหลีกเลี่ยงไม่ได้ โดยเกิดจากการทำกิจกรรมต่างๆ เช่น การคมนาคม การก่อสร้าง การเผาป่า ทำให้เกิดฝุ่นละอองในอากาศที่สามารถลอยเข้าสู่ระบบทางเดินหายใจของมนุษย์ได้ทำให้เกิดการสะสมตามส่วนต่างๆ ของร่างกายเสี่ยงต่อการเกิดเป็นโรคทางเดินหายใจ และยังส่งผลเป็นอย่างมากต่อกลุ่มผู้ป่วยโรคปอด โรคหัวใจ ผู้สูงอายุ และเด็ก
                </p>
          </div>
      </div>
  </div>
</section>

<section class="about-text">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>วัตถุประสงค์ของโครงงาน</h2>
            </div>
        </div>
            <div class="row">
                <div class="col-md-6">
                    <p>     1. เพื่อพัฒนาต้นแบบเครื่องตรวจวัดปริมาณฝุ่นละอองขนาดเล็กด้วยระบบโซล่าเซลล์ <br>
                            2. เพื่อนำค่าที่วัดได้จากเซนเซอร์มาวิเคราะห์แบ่งเป็นเกณฑ์ตามค่ามาตราฐาน <br>
                            3. เพื่อเป็นแนวทางในการพัฒนาโครงงานที่เกี่ยวกับเครื่องวัดปริมาณฝุ่นละอองขนาดเล็กด้วยระบบโซล่าเซลล์ <br> 
                      </p>
                </div>
            </div>
        </div>     
</section>

<section class="about-text">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>ขอบเขตของโครงงาน</h2>
            </div>
        </div>
            <div class="row">
                <div class="col-md-6">
                    <p>     1. เครื่องวัดฝุ่นสามารถวัดปริมาณฝุ่นละอองขนาดเล็ก (PM10) ในอากาศได้ โดยการใช้เซนเซอร์และนำค่ามาประมวลผลเพื่อปรับค่าผิดพลาดแล้วแสดงผลต่อผู้ใช้ <br>
                            2. อุปกรณ์สามารถติดตั้งและใช้งานได้ง่ายโดยใช้สัญญาณจากคลื่นโทรศัพท์ในการส่งข้อมูลและใช้พลังงานจากการแปลงพลังงานแสงอาทิตย์เป็นพลังงานไฟฟ้า <br>
                            3. สามารถวิเคราะห์ค่าที่นำมาประมวลผลเสร็จแล้วมาแบ่งเกณฑ์ได้ตามค่ามาตรฐาน คือ ดี ปานกลาง มีผลต่อสุขภาพ มีผลต่อสุขภาพมาก อันตราย โดยแสดงผลผ่านทางเว็บแอปพลิเคชัน <br>
                            
                      </p>
                </div>
            </div>
        </div>     
</section>


