<section class="single-page-title single-page-title-contact">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2>ติดต่อ</h2>
          </div>
      </div>
  </div>
</section>
<!-- .page-title -->
<!-- .page-title -->

            <section class="our-location">
              <div class="container">
                <div id="googleMap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.8173037078386!2d99.89813741524992!3d19.02777053711563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x213525f1eadac834!2z4Lio4Li54LiZ4Lii4LmM4Lia4Lij4Li04LiB4Liy4Lij4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Liq4Liy4Lij4Liq4LiZ4LmA4LiX4Lio4LmB4Lil4Liw4LiB4Liy4Lij4Liq4Li34LmI4Lit4Liq4Liy4LijIChDSVRDT01TKQ!5e0!3m2!1sth!2sth!4v1539367248890" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
            </section>


            <!-- การติดต่อ -->
            <section class="contact-detail gray-bg">
              <div class="container text-left">
                <div class="row">
                  <div class="col-md-4">
                    <div class="promo-block-wrapper clearfix">
                      <div class="promo-icon promo-icon-blue">
                        <i class="fa fa-map-marker"></i>
                      </div>

                      <!-- ที่อยู่ -->
                      <div class="promo-content">
                        <h3>ที่อยู่</h3>
                        <address>
                            19 หมู่ 2 อาคาร เทคโนโลยีสารสนเทศ และ การสื่อสารมหาวิทยาลัยพะเยา <br> 
                            ตำบลแม่กา อำเภอเมือง พะเยา 56000 <br> 
                        </address>
                      </div>
                    </div>
                  </div>

                  <!-- เบอร์โทร -->
                  <div class="col-md-4">
                    <div class="promo-block-wrapper clearfix">
                      <div class="promo-icon promo-icon-yellow">
                        <i class="fa fa-phone"></i>
                      </div>
                      <div class="promo-content">
                        <h3>เบอร์โทรติดต่อ</h3>
                        <address>
                          <abbr title="Phone">สาขาวิศวกรรมคอมพิวเตอร์:</abbr> 6787656<br>
                        </address>
                      </div>
                    </div><!-- /.promo-block-wrapper -->
                  </div>

                  <!-- อีเมล -->
                  <div class="col-md-4">
                    <div class="promo-block-wrapper clearfix">
                      <div class="promo-icon promo-icon-green">
                        <i class="fa fa-envelope-o"></i>
                      </div>
                      <div class="promo-content">
                        <h3>อีเมล</h3>
                        <address>
                          <a href="mailto:#">nattapong@mail.com</a><br>

                        </address>
                      </div>
                    </div><!-- /.promo-block-wrapper -->
                  </div>
                </div>
              </div>
            </section> 


           
            <section class="contact-section">
              <div class="container">
                <div class="section-title text-center">
                  <h2>เครื่องวัดปริมาณฝุ่นละอองขนาดเล็กด้วยระบบโซล่าเซลล์ (PM 10) <br>
                      PARTICLE COUNTER (PM10) USING SOLAR CELL SYSTEM</h2>
                </div>

              </div>
            </section>