<!--ส่วนของcontent-->
<div class="top-content-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text wow fadeInLeft" >
           <h1> ระบบวัดปริมาณฝุ่นละอองขนาดเล็ก PM10</h1>
        <div class="description">
           <p class="medium-paragraph">
            ผู้จัดทำโครงงานจึงได้นำเสนอต้นแบบเครื่องวัดปริมาณฝุ่นละอองขนาดเล็กด้วยระบบโซล่าเซลล์ เป็นการพัฒนาที่ใช้ต้นทุนต่ำ โดยจะใช้เซนเซอร์แบบเลเซอร์และแบบอินฟราเรดในการวัดปริมาณฝุ่นละอองในอากาศ 
           </p>
       </div>
    </div>
  </div>
 </div>
</div>

<!-- ส่วนของ content-into1-->
<div class="features-container section-container">
<div class="container">
  
    <div class="row">
        <div class="col-sm-12 features section-description wow fadeIn">
            <h2>ความสามารถของโปรเจค</h2>
            <div class="divider-1"><div class="line"></div></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6 features-box wow fadeInLeft">
          <div class="row">
            <div class="col-sm-3 features-box-icon">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="col-sm-9">
              <h3>เซ็นเซอร์</h3>
                <p>
                  PMS3003 คือเซนเวอร์ตรวจจับฝุ่น PM10 โดยใช้พัดลมดูดอากาศเข้าไปในตัวเซนเซอร์และตรวจจับผ่านเลเซอร์
                </p>
                <p>
                   DHT 11 เคือ โมดูลหรือเซ็นเซอร์สำหรับวัดอุณหภูมิและความชื้นในอากาศ
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 features-box wow fadeInLeft">
          <div class="row">
            <div class="col-sm-3 features-box-icon">
              <i class="fa fa-sun-o"></i>
            </div>
            <div class="col-sm-9">
              <h3>พลังงานแสงอาทิตย์</h3>
                <p>
                  ใช้ควบคุมกระแสไฟฟ้าให้สมำ่เสมอ และเพื่อเพิ่มประสิทธิภาพของแบตเตอรี่เพิ่มมากยิ่งขึ้น
                </p>
            </div>
          </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6 features-box wow fadeInLeft">
          <div class="row">
            <div class="col-sm-3 features-box-icon">
              <i class="fa fa-clock-o"></i>
            </div>
            <div class="col-sm-9">
              <h3>กราฟแสดงค่าแบบเรียลไทม์</h3>
                <p>
                  แสดงค่าอุณหภูมิ ความชื้น และค่าปริมาณฝุ่นละอองแบบต่อเนื่อง
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 features-box wow fadeInLeft">
          <div class="row">
            <div class="col-sm-3 features-box-icon">
              <i class="fa fa-microchip"></i>
            </div>
            <div class="col-sm-9">
              <h3> Narrow Band IoT </h3>
                <p>
                    เป็นเทคโนโลยีใหม่ในการสื่อสารที่ช่วยให้อุปกรณ์อินเตอร์เน็ตใน
                    ทุกสิ่งทำงานผ่านเครือข่าย 3G และ 4G(LTE) โดยมีมาตรฐาน
                    Low Power Wide Area หรือ LPWA
                </p>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
